<div class="main-content">
    <!--left-fixed -navigation-->
    <div class="sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right dev-page-sidebar mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
                id="cbp-spmenu-s1">
                <div class="scrollbar scrollbar1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/" ><i class="fa fa-home nav_icon"></i>Trang chủ</a>
                        </li>
                        <li>
                            <a href="/creator"><i class="fa fa-pencil nav_icon"></i>Người tạo sự kiện</a>
                        </li>
                        <li>
                            <a href="/logout"><i class="fa fa-refresh nav_icon"></i>Đăng xuất</a>
                        </li>
                    </ul>
                </div>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--logo -->
            <div class="logo">
                <a href="index.html">
                    <h1>Ultra Modern</h1>
                </a>
            </div>
            
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header-ends -->
    <div id="page-wrapper">
        <div class="play-grid" style="height:600px; overflow-x:auto; ">
            <h2 class="text-center"><b>DANH SÁCH ĐĂNG KÝ TẠO SỰ KIỆN</b></h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th>QR code</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nash</td>
                        <td>Software Engineer</td>
                        <td>London</td>
                        <td>35</td>
                        <td><button href="#" class="hvr-icon-sink-away">Chấp nhận</button>
                            <button href="#" class="hvr-icon-sink-away">Hủy</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Nash</td>
                        <td>Software Engineer</td>
                        <td>London</td>
                        <td>35</td>
                        <td><button href="#" class="hvr-icon-sink-away">Chấp nhận</button>
                            <button href="#" class="hvr-icon-sink-away">Hủy</button>
                        </td>
                    </tr><tr>
                        <td>Nash</td>
                        <td>Software Engineer</td>
                        <td>London</td>
                        <td>35</td>
                        <td><button href="#" class="hvr-icon-sink-away">Chấp nhận</button>
                            <button href="#" class="hvr-icon-sink-away">Hủy</button>
                        </td>
                    </tr><tr>
                        <td>Nash</td>
                        <td>Software Engineer</td>
                        <td>London</td>
                        <td>35</td>
                        <td><button href="#" class="hvr-icon-sink-away">Chấp nhận</button>
                            <button href="#" class="hvr-icon-sink-away">Hủy</button>
                        </td>
                    </tr><tr>
                        <td>Nash</td>
                        <td>Software Engineer</td>
                        <td>London</td>
                        <td>35</td>
                        <td><button href="#" class="hvr-icon-sink-away">Chấp nhận</button>
                            <button href="#" class="hvr-icon-sink-away">Hủy</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="copy-section">
            <p>&copy; 2019 Event - Check. Tạo và tham gia sự kiện đơn giản | Bản quyền của <a
                    href="https://www.facebook.com/AdminThanhIT">StartUp 3N</a></p>
        </div>
    </div>