<div class="main-content">
			<div class="main-page">
				<div class="login-form">
					<h4>Event & Check</h4>
					<h5><strong>Chào mừng quản lý.</strong> Vui lòng đăng nhập!</h5>
					<form action="/login" method="POST">
						<input type="text" placeholder="Email" name="email" required>
						<input type="password" class="pass" name="password" placeholder="Mật khẩu" required>
						<span class="check-left"><input type="checkbox">Nhớ mật khẩu</span>
						<div class="clearfix"></div>
						<button class="btn btn-info btn-block" type="submit">Đăng nhập</button>
					</form>
				</div>
		</div>	
        
 </div>